.textebleu{
	color: #00CCFF;
}
.texterouge{
	color: red;
}
div#bandeau {
	width:600px;
	height:50px;
	background-color:#00CCFF;
	}
div#menu {
	float:left;
	width:150px;
	height:400px;
	background-color:#FF6699;
	}
div#menuhaut {
    float:left;
	width:150px;
	height:200px;
	background-color:#497035;
	}
div#menubas {
    float:left;
	width:150px;
	height:200px;
	background-color:#ff6699;
	}

div#contenu {
	position: relative;
	margin-left: 150px;
	width:450px;
	height: 400px;
	background-color:#ffcc02;
	}
div#blocnews {
	position: absolute;
	top: 0px;
	right: 0px;
    width:150px ; 
    height:150px;
    background-color: red;
}
div#piedpage {
	width:600px;
	height:100px;
	background-color:#34ff99;
	}

table {
  border-collapse: collapse;
  background-color: white;
  
  border: 1px solid;
}

td {
  border: 1px solid ;
  color: rgb(17, 142, 44);
}
th {
  border: 1px solid;
  color: rgb(3, 154, 255);
}
div#conteneur-tableaux {
    display: flex;
    align-items: center;
    gap: 10px;
}

.separateur {
    color: red;
    font-size: 20px;
}
